body {
    background-color: #acb54a;
    text-decoration: none ;
}

a {
    text-decoration: none;
}

.title {
    text-decoration: underline; text-align: center; font-size: 40;
}

.text {
    color:#34a4d3; font-size:20; text-align: center;
}

.hereA {
    text-decoration: underline wavy; font-style: italic; font-family: cursive
}

.Foods {
    color:#8c008e;font-size:30;
}

.Sports{
    color:#8c008e;font-size:30;
}

.foodList {
    color:#f704df; font-style: italic; font-variant: small-caps;
}

.sportList {
    color:#f704df; font-style: italic; font-variant: small-caps;
}

#pages {
    text-decoration: underline; font-style: italic; text-align: center
}

.pagesT {
    color:#d66802; text-decoration: underline; font-weight: bold; font-size: 30; text-align: center;
}

.pLink {
    color:#d66802;
}